.slider {
	width:400px; height: 300px;
	overflow:hidden;
}

.slider > ul {
	position:relative;
	transition:0.5 left;

	list-style:none;
	margin:0;padding:0;
}

.slider > ul > li {
	float: left;
	width:400px;height:300px;
}

.container {
	width:400px; height: 50px;
}

#slide-prev {
	float:left;
	width:50%;height:100%;
}

#slide-next {
	float:right;
	width:50%;height:100%;
}