/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Subscribe form */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #D35A5A;
}

.subscribe-form {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	width: 400px;
	height: 70px;
}

.subscribe-placeholder {
	position: absolute;
	left: 15px;
	float: left;
	
	/* Fix for vertically-centering inline <span> in block <div> */
	top: 50%;
	margin-top: -12px;

	font-family: Arial;
	font-size: 1.5em;
	color: #D35A5A;

	/* Keeps user from selecting placeholder text */
	pointer-events: none;

	-webkit-transition: transform 0.75s ease, opacity 0.35s ease;
	transition: transform 0.75s ease, opacity 0.35s ease;
}

.subscribe-email {
	width: 70%;
	height: 100%;
	float: left;
	padding-left: 15px;

	border: 0;
	color: gray;
	font-size: 1.5em;

	/* Gets rid of blue outline around text box when clicked (outline != border) */
	outline: none;

	-webkit-transition: transform 0.75s ease;
	transition: transform 0.75s ease;	
}

.subscribe-submit {
	width: 30%;
	height: 100%;
	float: right;

	background: #D35A5A;
	color: white;
	border: 2px solid #AA4A4A;
	font-family: Arial;
	font-size: 1.5em;
	cursor: pointer;

	/* Gets rid of blue outline around button when clicked (outline != border) */
	outline: none;

	-webkit-transition: background .25s, transform 0.75s ease;
	transition: background .25s, transform 0.75s ease;
}

.subscribe-submit:hover {
	background: #AA4A4A;
}

.placeholder-slide-right {
	z-index: 1;
	-webkit-transform: translateX(120px);
	transform: translateX(120px);
}

.email-slide-right {
	-webkit-transform: translateX(120px);
	transform: translateX(120px);
}

.submit-slide-left {
	-webkit-transform: translateX(-280px);
	transform: translateX(-280px);
}